<%- include('./partials/header.ejs')          %>
<body>
    <h3>Wlecome From Home Page !!!</h3>

    <div class="d-grid gap-2 col-6 mx-auto">

    <a class="btn btn-success" href="/login" role="button">Login</a><br>

    <a class="btn btn-success" href="/signup" role="button">Signup</a><br>

</div>
</body>
</html>